


	body {
		padding-top: 60px;
        padding-bottom: 40px;
	}


body {

background: -moz-linear-gradient(90deg, #284AC7 0%, #284AC7 15%, #1CBBFF 62%, #1CBBFF 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1CBBFF), color-stop(38%, #1CBBFF), color-stop(85%, #284AC7), color-stop(100%, #284AC7)); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, #284AC7 0%, #284AC7 15%, #1CBBFF 62%, #1CBBFF 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, #284AC7 0%, #284AC7 15%, #1CBBFF 62%, #1CBBFF 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, #284AC7 0%, #284AC7 15%, #1CBBFF 62%, #1CBBFF 100%); /* ie10+ */
background: linear-gradient(0deg, #284AC7 0%, #284AC7 15%, #1CBBFF 62%, #1CBBFF 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1CBBFF', endColorstr='#284AC7',GradientType=0 ); /* ie6-9 */
}



#mainWrapper {
	height: 720px; Without explicit px values, % in children's does not work
	height: 100vh; with Viewport-Percentage, we can handles all devices screens
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 40px;
    background-color: #3399ff;
    width: 40%;
    left: 30%;
  /*   position: absolute; */
}

.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}


	.sidebar-nav {
		padding: 9px 0;
	}
   	body { background-color: #eee; font: helvetica; }
   	#container { width: 500px; background-color: #fff; margin: 30px auto; padding: 30px; border-radius: 5px; }
   	.green { font-weight: bold; color: green; }
   	.message { margin-bottom: 10px; }
   	label {width:70px; display:inline-block;}
   	input { display:inline-block; margin-right: 10px; }
   	form {line-height: 160%; }
   	.hide { display: none; }
   	.error { color: red; font-size: 0.9em; font-weight: bold; }
   	b {    font-weight: bold;}


	* html .console div
	{
	    background-image: url("sprite_ie6.png");
	}
	.console
	{
	    background-color: #2281E2;
	    /* border: 1px solid #CCC; */
	    color: #333;
	    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	    height: 100px;
	    margin: 1.4em 0 0;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    text-align: left;
	}
	.console .count
	{
	    background-color: #91AFEF;
	    -moz-border-radius: 15px;
	    -webkit-border-radius: 15px;
	    border-radius: 15px;
	    color: #FFFFFF;
	    font-size: 10px;
	    margin-left: 5px;
	    padding: 2px 6px 2px 5px;
	}
	.console div
	{
	    background-position: 6px -95px;
	    border-bottom: 1px solid #DDD;
	    padding: 5px 5px 4px 24px;
	}

	console div
	{
	    background-image: url("sprite.png");
	    background-repeat: no-repeat;
	    /* background-color: transparent; */
	}
	.console .error
	{
	    background-position: 6px -135px;
	}



.demo-section p
{
    margin: 3px 0 20px;
    line-height: 50px;
}
.demo-section .k-button {
    width: 250px;
}

.k-notification {
    border: 0;
}




/* Error template */
.k-notification-error.k-group {
    background: rgba(100%,0%,0%,.7);
    color: #ffffff;
}
.wrong-pass {
	width: 500px;
	height: 200px;
}
.wrong-pass h3 {
    font-size: 1em;
    padding: 10px 10px 5px;
}
.wrong-pass img {
    float: left;
    margin: 10px 15px 10px 10px;
}

/* Success template */
.k-notification-upload-success.k-group {
    background: rgba(0%,60%,0%,.7);
    color: #fff;
}
.upload-success {
    width: 500px;
    height: 200px;
    padding: 0 30px;
    line-height: 100px;
}
.upload-success h3 {
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.upload-success img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.divOpen {
	/*
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: linear-gradient(to bottom, #08C, #04C);
	background-repeat: repeat-x;
	border: 10px solid !important;*/
}
.divReserved {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #49AFCD;
	background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;

}
.divParked {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: linear-gradient(to bottom, #62C462, #51A351);
	background-repeat: repeat-x;

}
.divCancel {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #FAA732;
	background-image: linear-gradient(to bottom, #FBB450, #F89406);
	background-repeat: repeat-x;

}
.divInactive {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #DA4F49;
	background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
	background-repeat: repeat-x;

}


.btn-Search {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #ccb284;
	background-image: linear-gradient(to bottom, #f4d49e, #e3c693);
	background-repeat: repeat-x;

}

.carparkForm {
	padding: 20px;
	font-size: 14px;
	color: inherit;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

	.k-list-container .k-list .k-item
	{
	    padding-right: 0px;
	}


   .k-list-container
    {
        white-space: nowrap !important;
        width: auto!important;
        overflow-x: hidden !important;
        min-width:400px !important;
    }

    .k-list
    {
        overflow-x: hidden !important;
        /*overflow-style: marquee;*/
        overflow-y: auto !important;
         width:auto !important;
    }

