/carpark_beforeDBSchanges
/build
build
gradle
.gradle
*.old
gradlew*
clean.bat
bin
target
test
*.sig
.metadata
RemoteSystemsTempFiles
LUX
activemq.bat - Shortcut.lnk
deploy.bat
Servers
zips
/ies/dev/carpark/src/test/java/conti/ies/carpark/controller/test
/ies/dev/carpark/src/main/resources/*.tmp
/ies/dev/google-play-services_lib
/bnp/dev/cp2a/cp2a/activemq_saravan.bat - Shortcut.lnk
myDb